In [8]:
import pandas as pd

from_ahwal = pd.read_csv('from_Ahwal.csv', index_col=0)

In [9]:
from_ahwal

,Tweet Id,Text,Username,time,date
0,1442580908863860740,@Ibrrahim_9 نأمل منك تغيير المتصفح او جهاز الك...,AhwalCare,20,2021-09-27
1,1442580817927045122,@SalemRahim1 نرجو منك تزويدنا ببياناتك عبر الخ...,AhwalCare,20,2021-09-27
2,1442578817395183620,@i_Mrmreta نأمل منك حجز موعد لتجديد سجل الاسرة...,AhwalCare,19,2021-09-27
3,1442578548116660225,@2022_sf يمكنك حجز موعد فوراً، نسعد بخدمتك,AhwalCare,19,2021-09-27
4,1442578459390320646,@cheeevo77 نأمل منك التقديم بطلب وثيقة بدل فاق...,AhwalCare,19,2021-09-27
...,...,...,...,...,...
8286,1432932392638066688,@mona_vip2017 @AhwalKSA لا يمكن ، نسعد بخدمتك,AhwalCare,5,2021-09-01
8287,1432932323075543040,@NHB141 نعم ، نسعد بخدمتك,AhwalCare,5,2021-09-01
8288,1432932267379281924,@mattar1234 وعليكم السلام ، نرجو منك تزويدنا ب...,AhwalCare,5,2021-09-01
8289,1432931890617622534,@DABNLkejXTQNxKU @naj_az1984 سيتم التواصل معك ...,AhwalCare,5,2021-09-01
8290,1432931704675647490,@daym_21 نأمل منك مراجعة أقرب مكتب للأحوال الم...,AhwalCare,5,2021-09-01

In [10]:
from_ahwal['time'].value_counts()

8     860
10    826
7     733
12    721
11    663
9     592
14    518
13    498
18    485
16    444
17    436
6     387
15    361
19    344
5     268
20     84
4      33
3      22
21     10
22      6
Name: time, dtype: int64

In [11]:
from_ahwal['date'].value_counts().mean()

307.0740740740741

In [12]:
from_ahwal['date'].value_counts()

2021-09-05    452
2021-09-06    437
2021-09-01    404
2021-09-19    403
2021-09-13    393
2021-09-14    393
2021-09-12    392
2021-09-08    380
2021-09-21    377
2021-09-27    374
2021-09-20    373
2021-09-04    352
2021-09-15    351
2021-09-07    350
2021-09-26    346
2021-09-09    307
2021-09-16    306
2021-09-02    294
2021-09-22    270
2021-09-18    226
2021-09-11    224
2021-09-17    173
2021-09-03    165
2021-09-10    163
2021-09-25    140
2021-09-23    129
2021-09-24    117
Name: date, dtype: int64

In [13]:
len(from_ahwal)

8291