In [1]:
import numpy as np
import pandas as pd
to_ahwal = pd.read_csv('toAhwal.csv', index_col=0)

In [2]:
to_ahwal.head()

,Tweet Id,Text,time,date
0,1442630539475922949,أقدر أغير الصورة الشخصية للهوية اذا لسه باقي...,23,2021-09-27
1,1442625037312438277,، عندي الوالد كبير بالسن وحاولت اسجله ببرن...,22,2021-09-27
2,1442614988598747137,سويت كل الخطوات برفق اخر مؤ دراسي بس مو راضي...,22,2021-09-27
3,1442614333272432641,الغريب المدنية بالرياض وبعض مكاتبها بأنها ل...,22,2021-09-27
4,1442613483686612995,\n فعلاً ه غرامه ع التأخر تجديد الهويه الوطنيه,22,2021-09-27

### Questions:
* 1 - which period have most activity from costumers?
* 2 - which period have most activity tweets daily? or weekly?
* 3 - which most words repeated last months from account?
* 4 - which most words repeated last months from costumers?
* 5 - percentage of words from all costumers tweets?
* 6 - Avg of tweets daily?
* 7 - most days of tweets?

## Start Analyzing

* 1 - which period have most activity from costumers?

In [89]:
#most tweets per time in day
tweets_per_time = to_ahwal['time'].value_counts()
tweets_per_time

10    576
11    566
12    556
16    541
13    535
9     519
14    498
8     492
17    469
18    427
15    426
7     401
19    388
6     327
20    311
21    289
5     260
22    236
23    171
4     162
1     158
2     146
0     128
3     124
Name: time, dtype: int64

 4 - which most words repeated last months from costumers?

In [4]:
#most words
from nltk import ngrams
vals = [y for x in to_ahwal['Text'] for y in str(x).split()]

n = [3]
a = pd.Series([y for x in n for y in ngrams(vals, x)]).value_counts()
print(a)

(عن, طريق, ابشر)            102
(تجديد, الهوية, الوطنية)     73
(موعد, بدل, فاقد)            41
(اطلع, بدل, فاقد)            37
(الخدمه, غير, متوفره)        29
                           ...
(خاص, ولا, زلت)               1
(قطاع, خاص, ولا)              1
(انا, موظف, قطاع)             1
(اراسلكم, انا, موظف)          1
(يتم, قبول, ذلك)              1
Length: 89778, dtype: int64

6 - Avg of tweets daily?

In [5]:
len(to_ahwal)

8706

In [6]:
to_ahwal['date'].value_counts().mean()

322.44444444444446

* 7 - most days of tweets?

In [7]:
to_ahwal['date'].value_counts()

2021-09-14    481
2021-09-06    453
2021-09-27    451
2021-09-05    450
2021-09-01    422
2021-09-19    421
2021-09-21    384
2021-09-13    384
2021-09-12    383
2021-09-26    376
2021-09-07    373
2021-09-08    372
2021-09-20    361
2021-09-15    347
2021-09-04    345
2021-09-09    326
2021-09-02    319
2021-09-16    307
2021-09-22    282
2021-09-17    233
2021-09-18    228
2021-09-11    205
2021-09-03    197
2021-09-25    196
2021-09-10    170
2021-09-23    125
2021-09-24    115
Name: date, dtype: int64

In [8]:
#most words
from nltk import ngrams
vals = [y for x in to_ahwal['Text'] for y in str(x).split()]

n = [1]
a = pd.Series([y for x in n for y in ngrams(vals, x)]).value_counts()
print(a)

(موعد,)      983
(و,)         800
(ابشر,)      718
(بطاقة,)     642
(الهوية,)    623
            ...
(قلبل,)        1
(@B82R1,)      1
(@F__hf,)      1
(يحني,)        1
(لخوي,)        1
Length: 15140, dtype: int64

5 - percentage of words from all costumers tweets?

In [82]:
words = {'words': ['موعد', 'ابشر','بطاقة','بدل فاقد','الهوية الوطنية','تجديد الهوية الوطنية','الهوية', 'تجديد','المهنة','المواليد','التعديل'], 'counts': [983, 718, 642, 403, 223, 73, 623, 821, 168, 474,525]}

most_words = pd.DataFrame(data=words)
most_words

                   words  counts
0                   موعد     983
1                   ابشر     718
2                  بطاقة     642
3               بدل فاقد     403
4         الهوية الوطنية     223
5   تجديد الهوية الوطنية      73
6                 الهوية     623
7                  تجديد     821
8                 المهنة     168
9               المواليد     474
10               التعديل     525

In [88]:
to_ahwal['Text'].str.contains('تجديد').value_counts()[True]

821